@import "tailwindcss";

/* Esta linha liga o CSS ao seu ficheiro de configuração v3 */
@config "../tailwind.config.js";

@layer base {
  body {
    background-color: white;
    color: #1a1a1a;
  }
}

/* Em vez de @apply, vamos usar CSS padrão para garantir o build */
h1 {
  color: #2D5A27;
  font-bold: 700;
}
