@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Forçamos fundo branco para garantir visibilidade na Baratex */
body {
  background-color: white !important;
  color: #171717;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* Reset básico para garantir que o conteúdo não fique escondido sob a Navbar */
main {
  display: block;
  width: 100%;
}

