html {
  scroll-behavior: smooth;
}

/* Compensação para a Navbar Fixa */
/* Isso evita que a Navbar tape o título da seção quando você clica no link */
[id] {
  scroll-margin-top: 80px;
}
@import "tailwindcss";

/* Esta linha liga o CSS ao seu ficheiro de configuração v3 */
@config "../tailwind.config.js";

@layer base {
  body {
    background-color: white;
    color: #1a1a1a;
  }
}

/* Em vez de @apply, vamos usar CSS padrão para garantir o build */
h1 {
  color: #2D5A27;
  font-bold: 700;
}
